html, body {
    margin: 0;
}

.box {
    width: 100%;
    height: 200px;
    background-color: blueviolet;
    box-sizing: border-box;
    padding: 20px;
    border: 20px dashed #ccc;
    background-clip: content-box;
}